mixin tech(tech)
    article.tech
        header: h2 Programming
        each languages, level in tech
            section
                div.level= level
                div.languages
                    = languages.join(', ')
