doctype html
html(lang="en")
    head
        meta( http-equiv='content-type', content='text/html', charset='UTF-8')
        title= name
        style: include ../main.css
    body
        .outer-container
            block content
