extends ./layout.jade

include ./mixins/contacts.jade
include ./mixins/jobs.jade
include ./mixins/tech.jade
include ./mixins/interests.jade
include ./mixins/education.jade

block content
    h1= name
    +contacts
    +jobs(work)
    +tech(tech)
    +education(education)
    +interests(interests)


