@import mixins/reset

.outer-container

h1
    font-size: 1.75em
    text-align: center

h2
    font-size: 1.5em
    text-align: center
    border-bottom: 1px solid #dddddd
    border-top: 1px solid #dddddd

h3
    font-size: 1.25em

a
    color: inherit
    text-decoration: none

article
    padding-bottom: 2em

@import mixins/contacts
@import mixins/jobs
@import mixins/tech
@import mixins/education
